
body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

select, input[type=text], input[type=password], input[type="button"] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	outline: none;
	height: 40px;
}

select {
	padding: 10px 15px 10px 15px;
	vertical-align: bottom;
}

legend {
	text-align: center;
	font-size: 40px;
	font-weight: bold
}

#id{
	width:30%;	
} 

#post1 {
	width: 70%;
}

#jumin1, #jumin2 {
	width: 48%
}

#id+input{
	width: 15%;
	background:#18a8f1;
	line-height: 10px;
	vertical-align: bottom;
} 
#post1+input {
	width: 29%;
	background:#18a8f1;
	line-height: 10px;
	vertical-align: bottom;
}

textarea {
	width: 100%;
	resize: none;
	outline: none;
	margin-top: 5px;
	border : 2px solid #18a8f1;
}

#email, #domain {
	width: 32%;
}

#sel {
	width: 30%;
	background: lightgray
}

.container2 {
	border: 1px solid lightgray;
	padding: 1.5% 1%;
	word-spacing: 10px;
	margin-bottom: 20px;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

input[type=button]:hover {
	opacity: 0.8;
	cursor: pointer
}

button {
	background-color: #18a8f1;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}

.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}

.clearfix{
	text-align: center;
}


body {
	background-color: white;
}

#myform {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	width: 850px;
	padding: 16px;
}

label {
	display: block;
	font-weight: bold;
}

.logo {
	text-align: center;	
}

fieldset{
	border-color: #18a8f1;
}

.first_area {
	display: flex !important;
	float:left;
}

input[name="memberfile2"]{
	display: none;
}
