
body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

select, input[type=text], input[type=password], input[type="button"]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 15px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	outline: none;
	height: 40px;
}

select {
	padding: 10px 15px 10px 15px;
	vertical-align: bottom;
}

legend {
	text-align: center;
	font-size: 40px;
	font-weight: bold
}


#post {
	width: 70%;
}

input[name='jumin'], #jumin2 {
	width: 48%
}

#empno+input{
	width: 30%;
	background:#18a8f1;
	line-height: 10px;
	vertical-align: bottom;
	color:white;
} 
#post+input {
	width: 29%;
	background:#18a8f1;
	line-height: 10px;
	vertical-align: bottom;
	color:white;
}

textarea {
	width: 100%;
	resize: none;
	outline: none;
	margin-top: 5px;
	border : 2px solid #18a8f1;
}

#email, #domain {
	width: 32%;
}

#sel {
	width: 30%;
	background: lightgray
}

.container2 {
	border: 1px solid #18a8f1;
	padding: 1.5% 1%;
	word-spacing: 10px;
	margin-bottom: 20px;
}



input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

input[type=button]:hover {
	opacity: 0.8;
	cursor: pointer
}

button, input[id=f_upload] {
	background-color: #18a8f1;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}

.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}

.clearfix{
	text-align: center;
}


body {
	background-color: white;
}

#joinform {
	background-color: #fefefe;
	margin: 3% auto 15% auto;
	width: 850px;
	padding: 16px;
}

label {
	display: block;
	font-weight: bold;
}

.logo {
	text-align: center;	
}

fieldset{
	border-color: #18a8f1;
}


.showImage {
	width:100px;
}

.top_block1, .top_block2{
	display:inline-block;	
}

.top_block1{
	width: 40%;
}

.top_block2{
	float:right;
	text-align: center;
	width: 200px;
}

button[id=f_upload] {
	width:130px; 
	background:#18a8f1; 
	line-height: 10px; 
	vertical-align: bottom;
	
}



