@charset "utf-8";*{
     margin-top: 20%;
    padding: 0;
}

html{
    font-size: 10px;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color : inherit
}

.board_wrap{
    width : 1000px;
    margin:100px auto;
}

.board_title{
    margin-bottom: 30px;
}
.board_title strong{
    font-size: 3rem;
}

.board_title p{
    margin-top: 5px;
    font-size: 1.4rem;
}
.filedown{
	border-bottom: 2px solid black;
	background-color :rgb(238,247,250) ;
	min-height : 50px;
	font-size : 1.4rem;
	padding : 20px;
}

.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}
.bt_wrap a,#deletebtn {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1.4rem;
    
}
.bt_wrap a:first-child {
    margin-left : 0;
}
.bt_wrap a.on{
    background-color: rgb(0, 173, 238);
    border-color: rgb(0, 173, 238);
    color : white;
}
#delete{
	border : none;
	display : inline;
	margin : 0;
	float: right;
	padding : 0;
}
#deletebtn{
	border : red;
	
}
a:hover{
	font-weight : 600;
	background-color : light-gray
	
}
/* 글보기 */
.board_view{
    width: 100%;
    border-top: 2px solid navy;
}

.board_view .title{
    padding: 20px 15px;
    border-bottom : 1px dashed #ddd;
    font-size : 2rem;
}
.board_view .info{
    padding : 15px; 
    border-bottom:  1px solid #999;
    font-size:0 ;
}
.board_view .info dl{
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
.board_view .info dl:first-child{
padding-left: 0;
}
.board_view .info dl::before{
    content:"";
    display: block;
    position: absolute;
    width: 1px;
    left: 0;
    height: 13px;
    background-color: #ddd;


}
.board_view .info dl:first-child:before{
    display: none;
}
.board_view .info dl, dt,
.board_view .info dl, dd{
display : inline-block;
font-size: 1.4rem;
}
.board_view .info dl, dd{

    margin-left: 10px;
    color : #777
}
.board_view .content{
	font-size:1.4rem;
    padding: 15px;
    border-bottom: 1px solid black;
    	min-height:454px;
}
.board_view .info dl:first-child{
	margin-left: 400px
}