* {
	margin: 0;
	padding: 0;
}

.container {
	width: 70%
}

html {
	font-size: 14px;
}

table {
	border-collapse: collapse;
}

caption {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.File_board_Title strong {
	font-size: 3rem;
}

.File_board_Title {
	margin-bottom: 30px;
}

.File_board_Title strong {
	margin-top: 5px;
	font-size: 1.4rem;
}

.File_board_list_wrap {
	padding: 50px;
}

.File_board_list {
	width: 100%;
	border-top: 2px solid navy;
}

.File_board_list tr {
	border-bottom: 1px solid #999;
}

.File_board_list th, .File_board_list td {
	padding: 10px;
	font-size: 15px;
}

.File_board_list td {
	text-align: center;
}

.File_board_list tbody tr td:nth-child(2) {
	text-align: left;
}

.File_board_list tbody tr td:nth-child(2):hover {
	text-decoration: underline
}

.btntwo {
	margin-top: 30px;
	width: 40%;
}

.bt_wrap {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
} /*
    .bt_wrap a {
        display: inline-block ;
        min-width: 80px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 2px;
        font-size: 1rem;;
    }*/
#sel1 {
	width: 30%
}

.search {
	float: right;
	margin-bottom: 10px;
}

input {
	height: 31.5px;
	border-radius: 4px;
	border: 1px solid grey;
}

.btn-secondary {
	background-color: rgb(0, 173, 238) !important;
	border: rgb(0, 173, 238) !important;;
}

button:last-child {
	position: fixed;
	right: 300px;
	color: white;
	background-color: rgb(0, 173, 238);
}

.paging {
	clear: both;
	margin-top: 15px;
	text-align: center;
}

.paging .num a, .paging .num strong {
	padding: 3px 6px 5px 9px;
	text-decoration: none;
	color: #707070;
	line-height: 1.2em;
}

.paging .num a:hover, .paging .num a:focus {
	color: rgb(0, 173, 238);
	text-decoration: underline; 
}

.paging .num .firstItem {
	font-weight: bold;
	/* color: #ffffff;
	text-decoration: underline; */
}

img {
	width: 10px
}
.gray{
color : gray;
opacity : 0.5;
}