	table {
	  border-collapse: collapse;
	  border-spacing: 0;
	}
	section.notice {
	  padding: 150px 0;
	}
	.board-table {
	  font-size: 13px;
	  width: 100%;
	  border-top: 1px solid #ccc;
	  border-bottom: 1px solid #ccc;
	  margin-top: 100px;
	}
	.board-table th {
	  text-align: center;
	}
	.board-table th, .board-table td {
	  padding: 14px 0;
	}
	.board-table tbody td {
	  border-top: 1px solid #e7e7e7;
	  text-align: center;
	}
	.board-table thead tr:nth-child(2){
	  border-top: 1px solid #e7e7e7;
	}
	.board-table tbody th {
	  padding-left: 28px;
	  padding-right: 14px;
	  border-top: 1px solid #e7e7e7;
	  text-align: left;
	}
	.board-table tbody th p{
	  display: none;
	}
	.btn {
	  display: inline-block;
	  padding: 0 30px;
	  font-size: 15px;
	  font-weight: 400;
	  background: transparent;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  -ms-touch-action: manipulation;
	  touch-action: manipulation;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  border: 1px solid transparent;
	  text-transform: uppercase;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  -ms-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
	}
	/* reset */
	
	* {
	  list-style: none;
	  text-decoration: none;
	  padding: 0;
	  margin: 0;
	  box-sizing: border-box;
	}
	.container {
	  width: 1100px;
	  margin: 0 auto;
	}
	
	#board-list  table  thead  tr  th:nth-child(1){width:10%}
   	#board-list  table  thead  tr  th:nth-child(2){width:65%}
   	#board-list  table  thead  tr  th:nth-child(3){width:20%}

   	.board-table img{
   		width: 20px;
   		margin-right: 5px;
   	}