	table {
	  border-collapse: collapse;
	  border-spacing: 0;
	}
	section.notice {
	  padding: 150px 0;
	}
	.board-table {
	  font-size: 13px;
	  width: 100%;
	  border-top: 1px solid #ccc;
	  border-bottom: 1px solid #ccc;
	  margin-top: 100px;
	}
	.board-table th {
	  text-align: center;
	}
	.board-table th, .board-table td {
	  padding-top: 14px;
	  padding-bottom: 14px;
	}
	.board-table tbody td {
	  border-top: 1px solid #e7e7e7;
	}
	.board-table thead tr:nth-child(2){
	  border-top: 1px solid #e7e7e7;
	}
	.board-table tbody th {
	  padding-left: 28px;
	  padding-right: 14px;
	  border-top: 1px solid #e7e7e7;
	  text-align: left;
	}
	.board-table tbody th p{
	  display: none;
	}
	
	* {
	  list-style: none;
	  text-decoration: none;
	  padding: 0;
	  margin: 0;
	  box-sizing: border-box;
	}
	.containers {
	  width: 60%;
	  margin: 0 auto;
	}
	
	#board-list  table  thead  tr  th:nth-child(1){width:10%}
   	#board-list  table  thead  tr  th:nth-child(2){width:70%}
   	#board-list  table  thead  tr  th:nth-child(3){width:15%}

   	.board-table img{
   		width: 20px;
   		margin-right: 5px;
   	}
   	.th-count2 {text-align: right}
   	.th-count3 {text-align: left; padding-left: 20px;}
	.form-control{
		width: 100%;
		height:300px;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: none;
	}
	.center{
		text-align: center;
	}
	.center2 a{
		 text-decoration: none;
		 color: black;
		 font-weight: bold;
		 font-size: medium;
	}
	.center3 a{
		 text-decoration: none;
		 color: black;
		 font-weight: bold;
		 font-size: medium;
	}
	.center3{
		 text-align: right;
	}
	